html {
  background-color: #f129ed;
  font-family: Calibri, serif;
}

body {
  display: grid;
      grid-template-areas:
        "banner"
        "notbanner";
}

#banner {
  grid-area: banner;
  background-color: #efa23f;
  width: 80%;
}

#not_banner {
  grid-area: notbanner;
  background-color: #ffffff;
  width: 20%;
}
