html {
  background-color: #f129ed;
  font-family: Calibri, serif;
  width: 100%;
}

body {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 8fr 2fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  grid-template-areas:
    "banner"
    "notbanner";
}

#banner {
  grid-area: banner;
  grid-column: 1 / 2;
  background-color: #efa23f;
}

img {
  object-fit: cover;
}

#not_banner {
  grid-column: 2 / 3;
  grid-area: notbanner;
  background-color: #ffffff;
}
